<%- include('includes/head') %>

    <section class="container">
        <h1>
            <% if(typeof titulo !=='undefined' ) { %>
                <%= titulo %>
                    <% } else { %>
                        O título não foi enviado!
                        <% } %>
        </h1>
        <p>
            <% numeros.forEach(element=> { %>
                <%= element %>
                    <% }); %>
        </p>

        <form action="">
            <label for="input-teste-1">Cliente</label>
            <input type="text" id="input-teste-1">
            <button>Enviar</button>
        </form>
    </section>

    <%- include('includes/footer'); %>