
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 

:root {
    --primary-color: rgb(44, 88, 128);
    --secundary-color: rgb(94, 165, 232);
}

* {
    box-sizing: border-box;
    outline: none;
    list-style: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open-sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.container {
    margin: 2rem auto;
    max-width: 60rem;
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
}

form input, form button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form label {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

form input {
    font-size: 1.5rem;
    height: 5rem;
    padding: 0;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    height: 5rem;
    cursor: pointer;
    margin-top: 3rem;
}

form button:hover {
    background-color: var(--secundary-color);
    transition: 100ms ease-in-out;
}

form button:active {
    background-color: rgb(141, 187, 250);
    transform: scale(1.05);
    transition: all 50ms ease-in-out;
}




.infos {
    flex-direction: row;
    display: flex;
    width: 100%;
}

.tabela li, .imc li{
    min-width: 28rem;
    line-height: 1.5rem;
    margin: 0.8rem 0;
    margin-left: -4rem;
}




.resultado {
    display: block;
    width: 100%;
    font-size: 1.8rem;
}

.paragrafo-resultado {
    background-color: rgb(127, 255, 172);
    padding: 1rem 2rem;
}

.bad {
    background-color: rgb(246, 135, 105);
    padding: 1rem 2rem;
}